.reply-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:auto ;
}

.reply-3>div{
    border: 2px solid #FFE3CA;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.reply-3>div>h3{
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    width: 100%;
    overflow-wrap: anywhere;
}

.reply-3>div>span>p{
    transform: scale(1.5);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.reply-3>div>span>p:hover{
    cursor: pointer;
}

.reply-3>span{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.reply-3>span>button{
    width: 100px;
    padding: 10px 10px;
    background-color: #00fffe;
    color: black;
    border: none;
    border-radius: 8px;
}

.reply-3>span>button:hover{
    cursor: pointer;
    background-color: rgb(39, 170, 170);
}

.reply-3-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    border: none !important;
    margin-left: auto ;
}

@media screen and (max-width : 650px) {
    .reply-3>span>p{
        font-size: 12px
    };
}