.reply-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:auto ;
}

.reply-2>div{
    border: 2px solid #EE99C2;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.reply-2>div>h3{
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    width: 100%;
    overflow-wrap: anywhere;
}

.reply-2>div>span>p{
    transform: scale(1.5);
}

.reply-2>div>span>p:hover{
    cursor: pointer;
}

.reply-2>span{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.reply-2>span>button{
    width: 100px;
    padding: 10px 10px;
    background-color: #00fffe;
    color: black;
    border: none;
    border-radius: 8px;
}

.reply-2>span>button:hover{
    cursor: pointer;
    background-color: rgb(39, 170, 170);
}

.reply-3-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    border: none !important;
    margin-left: auto ;
}

@media screen and (max-width : 650px) {
    .reply-2>span>p{
        font-size: 10px
    };
}